# Created by https://www.gitignore.io

### Sass ###
/assets/scss/.sass-cache/
/assets/bower_components/*
*.css.map

/assets/config.codekit

/assets/functions/cache/

/node_modules/*

*.codekit

*.DS_Store

/node_modules/*