.no-gutter {
  padding: 0;
}

a.button.cta {
  font-size:18px;
  margin-top: 10px;
  margin-bottom: 20px;
}


aside .photo-page-right {
  margin-top: 0;
}

body.home, .sidebar_header a:hover {
  color: #FFF;
}

body {
  &.academics, &.single-studyfields {
    background: #000 url('../images/bg-fieldsofstudy.jpg') no-repeat fixed top center;
  }
  &.news-events, &.single-post {
    background: #000 url('../images/bg-news.jpg') no-repeat fixed top center;
  }
  &.research {
    background: #000 url('../images/bg-research.jpg') no-repeat fixed top center;
  }
  &.giving {
    background: #000 url('../images/bg-giving.jpg') no-repeat fixed top center;
  }
  &.admissions {
    background: #000 url('../images/bg-admissions.jpg') no-repeat fixed top center;
  }
  &.about, &.single-people {
    background: #000 url('../images/bg-about.jpg') no-repeat fixed top center;
  }
  &.home {
    h1, h2, h3, h4 {
      color: #F7f7f7;
    }
  }
}

#sidebar_header, .sidebar_header, .widget_title {
  background: $blue;
  padding: 10px 0;
  margin-bottom: 15px;
  a:hover {
    color: #FFF;
  }
}

#sidebar {
  h5 {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: 7px;
    color: $black;
  }
  p {
    font-size: 1em;
  }
  li.external {
    a::after {
      line-height: normal;
      color: $blue;
      float: none;
    }
  }
}

.sidebar_bg ul.nav li a, #sidebar li a {
  font-family: $font-subhead-book;
  font-weight: 400;
  font-style: normal;
  color: $blue;
}

.grey {
    color: #CCC;
}