.mobile-logo {
  position: relative;
  margin: 0 auto;
  img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px 0;
  }
  a {
    margin-top: 0;
  }
  &:hover {
  background: none;
  }
}

#search-bar {
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-family: $font-subhead-book;
  font-weight: 400;
  font-style: normal;
  margin-top: 35px;
  margin-bottom: 10px;
  .columns {
    padding: 0;
  }
  a {
    color: #FFF;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .links {
    margin-top: inherit;
    li {
    list-style: none;
    display: inline;
      &:after {
        content: " | ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
  input {
    &[type="text"] {
      height: 31px;
      margin-bottom: 0px;
      background-color: $grey;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      display: inline;
      float: left;
      width: 50%;
      border: 1px solid $grey;
      color: #333;
      font-size: 1em;
    }
    &[type="submit"] {
      background: #666;
      height: 31px;
      width: 30px;
      font-family: FontAwesome;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 16px;
      border: none;
      float: left;
      padding: 0;
      color: #ccc;
    }
  }
  button {
    background: #666;
    height: 31px;
    width: 30px;
    border-radius: inherit;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    float: left;
    padding: 0;
    color: $grey;
    margin-right: inherit;
    margin-bottom: inherit;
  }  
}

#mobile-nav {
  padding-top: 4%;
  margin-bottom: 10%;
  background: $blue;
}

.sb-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 50px;
  height: 50px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: inherit;
  font-size: 20px;
  color: $black;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.sb-search-input {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: $black;
  }
}

.sb-icon-search {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity = 0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #fff;
  background: $blue;
  z-index: 90;
  font-size: 18px;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  &:before {
    content: "\f002";
  }
}

/* Open state */

.sb-search.sb-search-open, .no-js .sb-search {
  width: 12%;
}

.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
  background: $blue;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
  z-index: 90;
}

.rave-alert {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
  a, &.no-link {
    transition: background-color 250ms ease-in-out 0s;
  }
  a {
    border-bottom: medium none;
    color: inherit;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
  &.red {
    font-weight: 700;
    a, &.no-link {
      background-color: #e03c31;
    }
    a:hover, &.no-link:hover {
      background-color: #ab231a;
    }
  }
  &.green {
    a, &.no-link {
      background-color: #007a53;
    }
    a:hover, &.no-link:hover {
      background-color: #00ad76;
    }
  }
  &.yellow {
    color: #000;
    a, &.no-link {
      background-color: #ffcd00;
    }
    a:hover, &.no-link:hover {
      background-color: #ffe166;
    }
  }
  &.site {
    font-weight: 700;
    a, &.no-link {
      background-color: #55abf4;
    }
    a:hover, &.no-link:hover {
      background-color: #015CB9;
    }
  }
}