.mobile-logo {
  position: relative;
  margin: 0 auto;
  img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px 0;
  }
  a {
    margin-top: 0;
  }
  &:hover {
  background: none;
  }
}

#search-bar {
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-family: $font-subhead-book;
  font-weight: 400;
  font-style: normal;
  margin-top: 35px;
  margin-bottom: 10px;
  .columns {
    padding: 0;
  }
  a {
    color: #FFF;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .links {
    margin-top: inherit;
    li {
    list-style: none;
    display: inline;
      &:after {
        content: " | ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
  input {
    &[type="text"] {
      height: 31px;
      margin-bottom: 0px;
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, 0.75);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      display: inline;
      float: left;
      width: 50%;
      border: 1px solid $gray;
    }
    &[type="submit"] {
      background: #666;
      height: 31px;
      width: 30px;
      font-family: $flagship-icon;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 16px;
      border: none;
      float: left;
      padding: 0;
      color: #ccc;
    }
  }
  button {
    background: #666;
    height: 31px;
    width: 30px;
    border-radius: inherit;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    float: left;
    padding: 0;
    color: $gray;
    margin-right: inherit;
    margin-bottom: inherit;
  }  
}

#mobile-nav {
  padding-top: 4%;
  margin-bottom: 10%;
  background: $blue;
}