@media only screen and (min-width: 108em) {
p, ul, ol, dl {
  font-size: 1.175rem;
} 
} 

@media only screen and (min-width: 86em) {
p, ul, ol, dl {
  font-size: 1.15rem;
}
 h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 2.225rem; }

  h3 {
    font-size: 1.6875rem; }

  h4 {
    font-size: 1.4375rem; }

  h5 {
    font-size: 1.125rem; }

  h6 {
    font-size: 1rem; } 
}

@media only screen and (max-width: 1023px) {
    #desktop-nav {
    display: none;
  }
    html, body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1023px) {
    #mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #search-bar input[type="submit"], #field_search input[type="submit"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px !important;
    -webkit-appearance: none;
  }
  #search-bar {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px !important;
    input[type="text"] {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-radius: 0px !important;
      -webkit-appearance: none;
    }
  }
  #field_search input[type="text"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px !important;
    -webkit-appearance: none;
  }
  #search-bar input[type="text"], #fields_search input[type="text"] {
    width: 75%;
  }
  #search-bar .links {
    display: none;
  }
    .mobile-field {
    clear: left;
    float: none;
  }
}

@media only screen and (max-width: 975px) {
  #main_nav ul li {
    padding: 0 7px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 975px) {
  ul.sub-menu li {
    padding: 0 8px !important;
    a {
      font-size: 15px !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .sidebar_bg {
    background: #cecece !important;
  }
  #main_nav ul {
    li {
      &:nth-child(5) {
        clear: left;
      }
      width: 33%;
      ul {
        display: none;
      }
    }
    height: 144px;
  }
  li.logo {
    display: none;
  }
  #fields_search input[type="submit"] {
    width: 35px;
  }
  ul.breadcrumbs {
    li {
      margin-left: 0px;
    }
   }
  p.contact {
    span {
      margin-right: 2px;
    }
   }
   .wrapper li {
      margin-left: 5px;
  }
  .faculty {
    padding-right: 10px;
  }
  .headshot {
    height: auto;
    width: 75%;
  }
  .single-people .tabs dd a {
    width: 200px;
  }
  .book-entry {
    height: 100%;
    img {
      height: auto;
      width: 84%;
    }
  }
  .tabs-content {
    width: 130%;
  }
  #field_search {
    .inline-list{
      width: 80%;
      margin-left: 0px;
    }
  }
  .mobile-logo {
    img {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 640px) {
  #main_nav ul li {
    padding: 0 20px;
    /*width: auto;*/
    text-align: center;
  }
  body.fields .row .mobile-two {
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
  .button {
    font-size: 14px;
  }
  .hide-for-mobile {
    display: none !important;
  }
  #quicklinks li.has-flyout {
    width: 100%;
  }
}