a {
  color: $blue;
  text-decoration: none;
  line-height: inherit;
  &:hover, &:focus {
    color: $skyblue;
  }
}

.wrapper {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  margin-top: 5px;
  margin-bottom: 30px;
    a {
      border-bottom: .125em dotted;
      border-bottom-color: rgba(0,0,0,.1);
      &:hover, &:focus {
        color: $black;
        border-bottom-color: $blue;
        border-bottom-style: solid;
       }
     }
}

.sidebar_bg {
  background: $grey;
  background: linear-gradient(to right, rgba(252,252,252,1) 0%,rgba(255,255,255,1) 67%,rgba(229,226,224,1) 67%,rgba(229,226,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#E5E2E0', GradientType=1 );
  margin-bottom: 60px;
  .wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 100px;
    padding-right: 30px;
  }
}

.sidebar_header {
  h5 {
    color: #FFF;
  }
}

.content {
  padding-right: 50px;
  ul {
    margin-left: 30px;
  }
  .panel ul {
    margin-left: 0;
  }
}

.alpha {
  opacity: .9;
}

.black_bg {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75);
}

.white {
  color: #FFF;
}

h5.white{
  color: #fff;
}

.black {
  color: $black;
}

.sky_blue {
  color: $skyblue;
}

.blue {
  color: $blue;
}

.blue_bg {
  background: $blue;
    &.button{
    opacity: 1;
  }
  &.button:hover {
    background: $blue;
    opacity: .8;
  }
  &.button:focus {
    background: $blue;
    opacity: 1;
  }
}

.dark_blue_bg {
  background: #003366;
}

.grey_bg {
  background: #666;
}

.rust_bg {
  background: $rust;
}

.green_bg {
  background: $green;
  &.button:hover {
    background: $green;
  }
}

.purple_bg {
  background: $purple;
  &.button:hover {
    background: $purple;
  }
}

.fushia {
  background: $fushia;
  &.button:hover {
    background: $fushia;
  }
}

.aqua_bg {
  background: $aqua;
  &.button:hover {
    background: $aqua;
  }
}

.yellow_bg, #humanities {
  background: $yellow;
  &.button:hover {
    background: $yellow;
  }
}

.orange_bg {
  background: $orange;
  &.button:hover {
    background: $orange;
  }
}

#natural {
  background: #cc6600;
}

.bright_blue_bg {
  background: $skyblue;
  &.button:hover {
    background: $skyblue;
  }
}

#social {
  background: $skyblue;
}

button, .button {
  border: none;
  border-radius: 7px;
  font-family: $font-subhead-book;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  font-size: 15px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: .8;
  font-weight: normal;
  display: inline-block;
  *display: inline;
    &:hover {
    opacity: 1;
  }
}
.button {
  &:hover {
    opacity: 1;
  }
  a {
    color: #fff !important;
    &:hover, &:visited {
      color: #fff;
    }
  }
}

.gallery {
  background: #418fde;
  margin-bottom: 30px;
  ul {
    padding: 15px 0;
  }
}

li.gallery-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 17px;
}

.radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.radius-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.radius-topright {
  border-top-right-radius: 10px;
}

.radius-topleft {
  border-top-left-radius: 10px;
}

.radius-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.inline {
  display: inline;
}

.offset-top-small {
  margin-top: 0px;
  margin-bottom: 0;
}

.offset-top {
  margin-top: -30px !important;
  zoom: 1;
  margin-bottom: 0;
}

.offset-topgutter {
  margin-top: -15px;
  zoom: 1;
}

.offset-gutter {
  margin-left: -15px;
  margin-right: -15px;
  zoom: 1;
}

.no-padding {
  padding: 0;
}

.photo-page-left {
  padding: 0px;
  margin-top: -30px;
  margin-left: -30px;
  zoom: 1;
}

.photo-page-right {
  padding: 0px;
  margin-top: -30px;
  margin-right: -30px;
  margin-bottom: -4px;
  zoom: 1;
}

.toplayer {
  z-index: 10;
}

.block {
  display: block;
}

.no-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.padding-five {
  padding: 5px;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

ul, ol {
  list-style-position: inside;
  list-style: square;
  line-height: 1.4em;
}

.panel {
  background: #418fde;
  border: none;
  color: #FFF;
  font-size: 14px;
  line-height: 24px;
  li {
  color: #fff;
  font-family: $font-subhead-light;
  font-size: 1em;
  padding-bottom: 1em;
  }
}

#landing .panel li a, .panel li a {
  color: #fff;
}

#landing .panel li a:hover, .panel li a:hover {
  color: #ffcc66;
}

.callout.panel {
  color: $black;
  background: #ffcc66;
  a li, li a {
    color: $black;
  }
  p, ul {
    font-family: $font-subhead-book;
    font-weight: 400;
    font-style: normal;
  }
  h3, li:before, a:hover {
    color: #6f2c3f;
  }
  h3 {
    font-size: 24px;
    margin-top: 0;
  }
}

.floatleft, .alignleft {
  float: left;
  margin-right: 15px;
}

.floatright, .alignright {
  float: right;
  margin-left: 15px;
}

.video_thumb .icon-play4:before {
  position: absolute;
  top: 20%;
  color: $blue;
  left: 36%;
  font-size: 74px;
  opacity: .8;
}

blockquote {
  border-left: none;
  padding: 9px 40px 0 10px;
  color: #555;
  font-size: 16px;
  p {
    color: #555;
    font-size: 16px;
  }
  &:before {
    content: "\e011";
    font-family: $flagship-icon;
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 80px;
    position: absolute;
    bottom: 20%;
    right: 8%;
    opacity: .25;
    color: $blue;
  }
}

.lt-ie9 blockquote:before {
  content: none;
}

.wp-post-image {
  margin-bottom: 15px;
}

p.lead, .lead {
  line-height: 2em;
}

.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 11px;
  line-height: 13px;
  span {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #555;
  }
  a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    background: #555;
    &:hover {
      color: #fff;
      background: #3279BB;
    }
  }
  .current {
    padding: 6px 9px 5px 9px;
    background: #418fde;
    color: #fff;
  }
}

#search-results ul {
  list-style: none;
}

#sponsored small {
  margin-left: 7px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skipLink {
  position: absolute;
  left: -9999px;
  background: $white;
  padding: 5px 10px;
  &:focus, &:active, &:hover {
    left: 0;
  }
}

#sidebar {
  h6 {
    text-transform: inherit;
    letter-spacing: inherit;
  }
  .textwidget ul li a, p a {
    border-bottom: .125em dotted;
    border-bottom-color: rgba(0,0,0,.1);
    &:hover, &:focus {
      color: $black;
      border-bottom-color: $blue;
      border-bottom-style: solid;
     }
  } 
  ul.nav li {
    font-size: 14px;
    margin-left: 0;
    padding-left: 45px;
    text-indent: -25px;
    padding-right: 15px;
    &:before, ul li:before {
      content: "\e97f";
      font-family: $flagship-icon;
      color: #999;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

#fields_search {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $grey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $grey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $grey;
  }
  fieldset {
    background: $grey;
    background: rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
    border: none;
  }
  h2 {
    font-size: 1.5rem;
  }
  h5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input {
    &[type="text"] {
      height: 40px;
      margin-bottom: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: inline;
      float: left;
      width: 83%;
      background: #666;
      color: $grey;
      font-family: $font-subhead-book;
      font-weight: 400;
      font-size: 16px;
      border: none;
    }
    &[type="submit"] {
      background: $black;
      height: 40px;
      width: 45px;
      font-family: $flagship-icon;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 26px;
      border: none;
      float: left;
      padding: 0;
      color: $grey;
    }
  }
    button.submit {
      background: $black;
      height: 40px;
      width: 45px;
      border-radius: inherit;
      margin-right: 0px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 26px;
      border: none;
      float: left;
      padding: 0;
      color: $grey;
    }  
}

img.featured {
  float: right;
  max-width: 110%;
  height: auto;
  display: block;
}

.newsletter-header h1 {
  font-size: 1.75rem;
}

h2.newsletter.subheader {
  font-size: 1.5rem;
}