$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #8a2a2b;        //red
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		    //rust
$black: #2C2C33;     //black
$skyblue: #418fde;
$flagship_icon: 'flagship';

$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
$font-subhead-book: 'gentona-book', Arial, sans-serif;
$font-subhead-light: 'gentona-extralight', Arial, sans-serif;

$radius: 10px;