$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #8a2a2b;        //red
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		    //rust
$black: #2C2C33;     //black
$skyblue: #418fde;
$gray: #E5E2E0;
$fa-font-path: "../fonts";

$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
$font-subhead-book: 'gentona-book', Arial, sans-serif;
$font-subhead-light: 'gentona-extralight', Arial, sans-serif;
$flagship-icon: 'flagship-icon', 'gentona-light', Arial, sans-serif;

$radius: 10px;

//flagship icon urls
//$flagship-icon_url_0: url(../fonts/flagship-icon.eot);
//$flagship-icon_url_1: url(../fonts/flagship-icon.eot?#iefix);
//$flagship-icon_url_2: url(../fonts/flagship-icon.svg#flagship-icon);
//$flagship-icon_url_3: url(../fonts/flagship-icon.woff);
//$flagship-icon_url_4: url(../fonts/flagship-icon.ttf);