#bioTab h6 {
  margin-bottom: 20px;
}

.single-people .tabs {
  margin-top: 40px;
}

.single-people .tabs {
  dd a, li a {
    outline: none;
    display: block;
    padding: 0.88889rem 1rem;
    font-family: $font-stack;
    font-weight: 300;
    font-style: normal;
    font-size: 0.88889rem;
    border-bottom: none;
  }
}


#directory {
  list-style: none;
  li:nth-child(odd) {
    background: #f7f7f7;
    background: rgba(0, 0, 0, 0.05);
  }
  p {
    margin-top: 20px;
  }
}

li.person {
  margin-bottom: 15px;
  width: 90%;
  min-height: 95px;
  padding: 3px 10px 0 10px;
  img {
    max-width: 90px;
    clear: left;
    float: left;
  }
}

.tabs {
  dd.active, li.active {
    border-top: 3px solid $blue;
  }
}
.bio {
 h1 {
  font-size: 1.4375rem;
  font-family: $font-subhead-book;
}
 h2 {
  font-size: 1.125rem;
 }
}